*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #63e06b;
    background-color: #f2f7f3;
}
.lata{
    width: 580px;
    height: 370px;
    background-color:#ecf0f3;
    border-radius: 30px;
    box-shadow: -5px -5px 10px 10px #08f008 ;
    padding: 50px 35px 35px 35px;
}
.title{
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 20px;
    padding-top: 15px;
    letter-spacing: .3px;
    font-weight: bold;
}
.sub-title{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: .3px;
    font-weight: bold;
}
.fields{
    width: 350px;
    padding: 20px 5px 5px 0px;
}
.fields input{text-align: center;
    border: none;
    outline: none;
    background: none;
    color: #555;
    padding: 20px 10px 20px 5px;}
    .mobile{
        width: 500px;
    height: 50px;
        text-align: center;
        margin-bottom: 10px;
        border-radius: 30px;
        box-shadow: inset -2px -2px 5px 5px #08f008 ;
    }
    .logo{
        text-align: center;
    }
    .button{ margin-left: 320px;
        outline: none;
    border: none;
    cursor: pointer;
    width: 50%;
    height: 30px;
    border-radius: 30px;
    background-color: #63e06b;
    box-shadow: -3px 3px 3px  black;
    color: white;}
    .meril{
        text-decoration: none;
        color: #f6faf7;}
    .back{
            cursor: pointer;
            font-size: 30px;
            text-decoration: none;
            text-align: end;}